@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>Sign up users</h2>
        <p>
            Only registered user can use the chat. Go to Sign up option and register one or more users.
        </p>
        <p>Next go to Login page and go into the chat, you can open one window for each user. </p>
    </div>
    <div class="col-md-4">
        <h2>Chat Room</h2>
        <p>You can create all room as you want and add users into each one</p>
        <p>To Add Users into a chat room, you must use the email registered by each user.</p>
    </div>
    <div class="col-md-4">
        <h2>Stock codes</h2>
        <p>
            You could send commands as message, the command MUST have the format <i>stock=stock_code</i>
        </p>
        
    </div>
</div> 