
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post">
    @Html.AntiForgeryToken()
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">User Authentication</div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="txtEmail" placeholder="Enter email" name="UserName">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="txtPassword" placeholder="Enter password" name="Password">
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" class="btn btn-success" value="Log in" />
            <span>@Model.Message</span>
        </div>
    </div>

</form>